body {
  color: #F7F7F7;
  background-image: url("../images/websitebackgrond.png");
    }
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #00008B;
    background-color: #00FFFF;
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #1E90FF;
  }
  p{
  font-family: 'Arial';
  }
  h3{
  font-family: 'Arial';
  }
  button{
    font-style: normal;
    font-family: 'Arial';
  }
  /* Create an active/current tablink class
  .tab button.active {
    background-color: #ccc;
  } */
  Style the tab content
  .tabcontent {
    display: none;
    padding: 2px 8px;
    border: 4px solid #ccc;
    border-top: none;
  }